body{
  background-color: #22254b;
  color: white;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.movies{
  background-color: #373b69;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin: auto;
  padding: 2rem;
}
.movieList{
 display: flex;
 flex-wrap: wrap;
 border-radius: 3px;
 box-shadow: 3px 3px 5px;
 background-color: #373b69; 
 position: relative;
 transition: transform 0.2s;
 overflow: hidden;
 text-overflow: ellipsis;
}