body{
  background-color: #22254b;
  color: white;
  margin: 0;
  padding: 1rem;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.movies{
  background-color: #373b69;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 100%;
  margin: auto;
  padding: 2rem;
}
.movieList{
 display: flex;
 flex-wrap: wrap;
 border-radius: 3px;
 box-shadow: 3px 3px 5px;
 background-color: #373b69; 
 position: relative;
 transition: transform 0.2s;
 overflow: hidden;
 text-overflow: ellipsis;
}
.movieList:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.movieList img{
  width: 100%;
}

.movie-info h1{
  font-size: 13px;
}
.movie-info p{
  font-size: 12px;
}
.home{
  background-image: url("../public/netflix.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:100%;
}
.movieList:hover .overlay{
  opacity: 1;
}
.overlay{
  position: absolute;
  background-color: white;
  color: #373b69;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  text-align: center;
  padding: 1rem;
  border-radius: 3px;
  overflow-y: scroll;
  
}
.login{
   cursor: pointer;
   padding: 0;
   border: 5px solid blue;
   border-radius: 3px;
}
.top-header{
  justify-content: space-between;
}
.logo{
  width: 100px;
  height: 30px;
  object-fit: contain;
}
.form{
  justify-content: start;
  align-items: flex-start;
}
.navbar{
  /* background-image: url("../public/netflix.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
